<link rel="canonical" href="{{ .Permalink }}">
{{ $title := .Title | default .Site.Title -}}
{{ $desc := .Params.description | default .Site.Params.description -}}
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
{{ if .OutputFormats.Get "RSS" }}
  {{ with .OutputFormats.Get "rss" }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.String }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
  {{ end }}
{{ end }}
